
<div id="main">
<h1>STOKBOARD</h1>
<p>Stokboard is a simple Rails app that retrieves real-time stock quotes and creates dynamic graphs for each stock on a timed interval. Since quotes are in real-time, the app works best when the stock market is open. Enter a stock quote to test it out...
</p>
<%= text_field_tag 'symbol' %>
<%= button_tag 'Add a Stock Symbol', :class => 'button' %>
<%= button_to 'Refresh Stock Database', {:controller => :stocks, :action => :delete}, :class => 'button' %>
</div>

<div id="stocks"></div>


